<!--Inicio EXP LABORAL-->
<div class="container-fluid">
    <div id="expLaboral" class="row">
        <div class="col-9">
            <h2 style="padding-top: 50px">Experiencia Laboral</h2>
            <h3 style="padding-top: 20px;">Telecom - Supervisor de área</h3>
            <h4>(Jul2006 - Dic2022)</h4>
            <p>Comence desempeñandome como Lider de equipo, teniendo a mi cargo 15 Representantes de atencion
                Telefonica de Ventas. Luego pase a desempeñarme como Supervisor dentro del contact center, pero esta
                vez del sector administrativo, pasando a tener a mi cargo un equipo de 10 Líderes, quienes a su vez
                tenían a su cargo equipos de alrededor de 15 Representantes de atencion al cliente cada uno.
                Supervisaba las métricas de cada equipo y realizaba planes de seguimiento junto a mis colaboradores
                directos, para mejorar el desempeño de sus equipos. También realicé tareas de capacitación a nuevos
                Líderes, brindándoles herramientas de liderazgo y realizaba la selección de personal de Atencion
                Telefonica (A traves de Assesment Center y Entrevistas individuales). En el año 2016, fui convocado
                para participar en la certificación del contact center en COPC (Versión 5.2). La ultima actividad
                que desempeñé dentro de la compañia fue como Analista en el área de Experiencia al Cliente interno
                (Clima Interno) dentro de la Gerencia Comercial Contact B2C, llevando adelante, de acuerdo a las
                necesidades detectadas, tareas de recreación, puesta en marcha y seguimiento de acciones de mejora
                en el clima interno (Acciones relacionadas con el liderazgo y comunicación interna). Durante mi
                permanencia dentro de la compañia, coleborè en 2 fusiones (Ciudad Internet-Cablevision-Multicanal en
                el año 2006 y Cablevision-Telecom en el año 2015). Motivo Egreso: Retiro Voluntario.</p>
        </div>
        <div class="col">
            <img class="Telecom" src="images/Telecom.jpg" alt="Foto TECO" class="img-fluid">
        </div>
        <div class="col">
            <img class="Aol" src="images/AOL.jpg" alt="Foto AOL" class="img-fluid">
        </div>
        <div class="col-9">
            <h3 style="padding-top: 50px;">AOL Argentina - Supervisor de área</h3>
            <h4>(Abr2001 - Jul2006)</h4>
            <p>En un principio comencé trabajando como Representantes de Atención al Cliente de AOL Argentina,
                reteniendo a clientes que deseaban solicitar la baja del servicio telefónicamente. Luego de 2 años,
                ya como Líder de equipo, tuve a mi cargo 15 personas que realizaban la atención y retención de
                clientes de AOL Puerto Rico y México. 1 año mas tarde, pase a desempeñarme como Supervisor de área
                de Retención de AOL México, teniendo aproximadamente 80 personas a mi cargo (5 en forma directa). En
                este último puesto, me encargué de realizar el seguimiento de métricas del área para lograr el
                cumplimiento de objetivos, mediante diferentes coachings a colaboradores directos, para perfeccionar
                el desempeño de sus equipos y lograr las mejoras esperadas en el área. Además de las tareas
                anteriormente mencionadas, también realicé selección de personal, tanto de Representantes de
                atención al cliente como así también, su posterior desarrollo para lograr ascensos de puesto. Motivo
                Egreso: Oferta Laboral TELECOM.</p>
        </div>
        <div class="container-fluid">
            <div id="expLaboral" class="row">
                <div class="col-9">
                    <h3 style="padding-top: 20px;">Multicanal - Supervisor de área</h3>
                    <h4>(Feb1993 - Mar2001)</h4>
                    <p>Al ingresar en la compañia me desempeñe como Representantes de atencion telefonica,
                        asesorando a clientes en temas Tecnico y Administrativos de TV x CABLE. Tambien realice la
                        atencion personalizada de clientes en la Sucursal que tenia MULTICANAL en el barrio de San
                        Cristobal (Av San Juan 2520). Desde el año 1997 comence a desempñarme como Lider de Ventas y
                        Retencion de clientes de los servicios de TV x Cable e Internet (Dial Up), teniendo a mi
                        cargo un equipo de 15 Representantes, realizando tareas de coaching a través de escuchas y
                        posterior seguimiento del desempeño de cada colaborador. Motivo Egreso: Oferta Laboral AOL
                        Argentina.</p>
                </div>
                <div class="col">
                    <img class="Multicanal" src="images/Multicanal.jpg" alt="Foto MULTICANAL" class="img-fluid">
                </div>
            </div>
        </div>
        <!--Fin EXP LABORAL-->
        <!--Inicio Estudios-->
        <div class="container-fluid">
            <div id="Estudios" class="row">
                <h3>Estudios</h3>
                <ul>
                    <li>UTN - Programador Web - Front End Developer</li>
                    <p>Terciario Incompleto (2022 a 2023)</p>
                    <li>ESBA - Analista de Sistemas</li>
                    <p>Terciario Incompleto (2003 a 2005)</p>
                </ul>
                <ul>
                    <h3 style="padding-top: 50px">Cursos y Certificaciones</h3>
                    <li style="padding-top: 20px;">UTN - Nov2022 - Abr2023</li>
                    <p>Programador Web Inicial - Front End Developer</p>
                    <li>COPC Inc - Nov2016</li>
                    <p>Certificado Coordinador Registrad VMO - Versión 5.2</p>
                    <li>Universidad de Palermo - Sept2016</li>
                    <p>Convivencia Generacional</p>
                    <li>Cablevisión/Fibertel - Nov 2014</li>
                    <p>Programa de Desarrollo y conducción</p>
                    <li>Universidad de Palermo - Sept2013</li>
                    <p>Programa ejecutivo - NEGOCIACION</p>
                    <li>EXO Training Center - Jul2013</li>
                    <p>Excel - Nivel I y Nivel II</p>
                    <li>Grupo Clarín - Jul2011</li>
                    <p>Innovación y Creatividad</p>
                    <li>Proaxion Consultora - Oct2010</li>
                    <p>Taller sobre Workforce y Management</p>
                    <li>Grupo Clarín - Oct2009</li>
                    <p>Oratoria</p>
                    <li>Grupo Clarín - Jul2007</li>
                    <p>Curso de Liderazgo</p>
                    <li>Multicanal - Oct1997</li>
                    <p>Venta Telefónica</p>
                </ul>
                <ul>
                    <h3 style="padding-top: 50px">Idioma</h3>
                    <li style="padding-top: 20px;">Saint Thomas Institute - Mar1995 - Dic2011</li>
                    <p>Ingles Avanzado</p>
                </ul>
            </div>
            <!--Fin Estudios-->
            <!--Inicio Referencias-->
            <div id="Referencias" class="container-fluid row">
                <h3 style="padding-bottom: 50px; padding-top: 60px">Referencias</h3>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="images/Telecom.jpg" class="card-img-top" alt="Telecom">
                        <div class="card-body">
                            <p class="card-text">SILVANA REGULES</p>
                            <p class="card-text">Coordinadora Clima Interno</p>
                            <p class="card-text">Tel: +54-11-3583-7657</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="images/AOL2.jpg" class="card-img-top" alt="AOL">
                        <div class="card-body">
                            <p class="card-text">PAULA VIDEAU</p>
                            <p class="card-text">Gerente AOL Argentina</p>
                            <p class="card-text"><a class="btn btn-primary"
                                    href="https://www.linkedin.com/search/results/all/?heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAABIsW0BPFKbAd2LMrpNn1QnvfTSyuWOrrg&keywords=paula%20cecilia%20videau&origin=RICH_QUERY_SUGGESTION&position=2&searchId=02197d7f-f62c-4a31-bd8d-1c9a617ed230&sid=Suc--"
                                    target="_blank" role="button">Linkedin</a></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="images/Multicanal.jpg" class="card-img-top" alt="Multicanal">
                        <div class="card-body">
                            <p class="card-text">MARIA FERNANDA VILLAFAN</p>
                            <p class="card-text">Jefa Atencion al cliente MULTICANAL</p>
                            <p class="card-text">Tel: +54-11-6652-1867</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin Estudios-->
            <!--Inicio Proyectos-->
            <div id="Proyectos" class="container-fluid row">
                <h3 style="padding-bottom: 50px; padding-top: 60px">Proyectos</h3>
                <div class="col">
                    <!--Boton ok GOOGLEADO-->
                    <a href=file:///C:/Back%20UP%20-%20OCT%202020/UTN%202/Proyecto%20Final/Proyecto%20MacSoul/index.html
                        target="_blank">
                        <button type="button" class="btn btn-primary" role="button">Galeon.com</button></a>
                </div>
                <div class="col">
                    <!--Boton ok GOOGLEADO-->
                    <a href=file:///C:/Back%20UP%20-%20OCT%202020/UTN%202/Proyecto%20Final/Proyecto%20MacSoul/index.html
                        target="_blank">
                        <button type="button" class="btn btn-primary" role="button">MacSoul.com</button></a>
                </div>
            </div>
            <!--Fin Proyectos-->
            <!--Inicio Contacto-->
            <div id="Contacto" class="container-fluid row">
                <h3 style="padding-top: 60px" id="contacto">Contacto</h3>
                <form class="row g-3" action="/" method="post">
                    <div class="col-md-6">
                        <label for="text class=" form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="text" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="col-12">
                        <label for="mail" class="form-label">Mail</label>
                        <input type="mail" class="form-control" id="mail" name="mail">
                    </div>
                    <div class="col-12">
                        <label for="Mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="5" name="mensaje"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Enviar</button>
                    </div>
                </form>
                <p>{{message}}</p>
            </div>
            <!--Fin Contacto-->